<div class="bg-gray-500 border border-gray-600 w-24 h-76 text-white text-center">
    <div>number</div>
    <div>name</div>
    <button>flash</button>
    <div class="flex justify-center items-center">
    <div>
        <div>--</div>
        <div>--</div>
        <div>--</div>
        <div>--</div>
        <div>--</div>
        <div>--</div>
        <div>--</div>
        <div>--</div>
        <div>--</div>
        <div>--</div>
    </div>
    
     <input class="slider h-60 appearance-none w-1 mx-3 bg-gray-400" type="range" min="1" max="100" value="0" name="" id="" orient="vertical">
    
    <div>
        <div>--</div>
        <div>--</div>
        <div>--</div>
        <div>--</div>
        <div>--</div>
        <div>--</div>
        <div>--</div>
        <div>--</div>
        <div>--</div>
        <div>--</div>
    </div>
</div>
<div>%</div>
</div>
