<div class="flex justify-between">
<div>
    <div  class="flex">
        <div class="" *ngFor="let element of counter(16),let i=index">  
        <fader></fader>
        </div>
    </div>  
</div> 
<div class="bg-gray-500 border border-gray-600 text-white text-center">
    <div>master</div>
    <div>master</div>
    <button>black</button>
    <div class="flex justify-center w-24
    ">
    <div class="">
        <div>--</div>
        <div>--</div>
        <div>--</div>
        <div>--</div>
        <div>--</div>
        <div>--</div>
        <div>--</div>
        <div>--</div>
        <div>--</div>
        <div>--</div>
    </div>
    
    
    <input class="slider appearance-none w-1 mx-3 bg-gray-400" type="range" min="1" max="100" value="0" name="" id="" orient="vertical">
    <div>
        <div>--</div>
        <div>--</div>
        <div>--</div>
        <div>--</div>
        <div>--</div>
        <div>--</div>
        <div>--</div>
        <div>--</div>
        <div>--</div>
        <div>--</div>
    </div>
</div>
<div>%</div>
</div>

</div>
